<%  include partials/navbar %>

<div class="flight_back">
    <h1 class="flight_header">Flights</h1>
</div>

<div class="flight_box">
    <div class="airline">
        <img src="images/air_logo.jpg" alt="logo" class="logo">
        <p class="name">Air India</p>
    </div>
    <div class="details">
        <div class="source">
            <p class="source_name">Dubai<span class="source_time">19:20</span></p>
            
        </div>
        <div class="arrow">
            <i class="fa fa-long-arrow-right fa-4x" aria-hidden="true"></i>
        </div>
        <div class="destination">
            <p class="destination_name">Delhi<span class="destination_time">08:20</span></p>
        </div>
    </div>
    <div class="flight_class">
        <div class="class_info economy">
            <p class="class_name">Economy</p>
            <p class="price">&#x20B9;1000</p>
        </div>
        <div class="class_info business">
            <p class="class_name">Business</p>
            <p class="price">&#x20B9;2000</p>
        </div>
        <div class="class_info first_class">
            <p class="class_name">First Class</p>
            <p class="price">&#x20B9;4000</p>
        </div>
        <div class="class_info submit_button">
            <p class="button">Submit</p>
        </div>
    </div>
</div>