<form action="/flight_data" method="post">
    <input type="text" name="airline" placeholder="airline" required>
    <input type="text" name="source" placeholder="source" required>
    <input type=" text" name="destination" placeholder="destination" required>
    <input type="text" name="source_time" placeholder="source_time" required>
    <input type="text" name="dest_time" placeholder="dest_time" required>
    <input type="text" name="price" placeholder="price" required>
    <input type="text" name="icon" placeholder="icon" required>
    <input type="submit" value="submit">
</form>