<form action="/flight_data" method="post">
    <input type="text" name="airline" placeholder="airline">
    <input type="text" name="source" placeholder="source">
    <input type=" text" name="destination" placeholder="destination">
    <input type="text" name="source_time" placeholder="source_time">
    <input type="text" name="dest_time" placeholder="dest_time">
    <input type="text" name="price" placeholder="price">
    <input type="text" name="icon" placeholder="icon">
    <input type="submit" value="submit">
</form>