<form action="/hotel_data" method="post">
    <input type="text" name="hotel" placeholder="name">
    <input type="text" name="city" placeholder="city">
    <input type="text" name="address" placeholder="address">
    <input type="text" name="hotel_icon" placeholder="icon">
    <input type="text" name="star" placeholder="star">
    <input type="submit" value="submit">
</form>