

<form action="/exp" method="POST">
    <textarea rows="4" cols="50" name="exp">
        At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
    </textarea>
    <input type="submit">
</form>