<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/login_style.css">
    <link rel="shortcut icon" href="https://img.icons8.com/ios-filled/48/000000/fighter-jet.png" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    <header>
       <div class="wrap"></div>
        <div class="login-modal">
            <div class="login-form">
               <p class="login-header">Login</p>
                <form action="/login" method="POST" class="form">
                    <p class="attr">Username</p>
                    <input type="text" placeholder="username" name="username" required>
                    <p class="attr">Password</p>
                    <input type="password" placeholder="password" name="password" required>
                    <button class="submit-button" type="submit">Submit</button>
                </form>
                <p class="notuser">Not a User Yet? <a href="/signup">SignUp</a></p>
            </div>
        </div>
    </header>
</body>
</html>