<% include partials/navbar %>

<div class="ticket">
    <div class="side_1">
       <div class="side_1_1">
           <div class="date_plan">
             <p class="day">31</p>
             <p class="month">OCT</br>19</p>
             </div>
             <div class="airline_name"><i class="fa fa-plane" aria-hidden="true"></i>Air India</div>
       </div>
       <div class="destination">
           <p>Delhi India</p>
       </div>
    </div>
    <div class="side_2">
        <a href="#" class="submit">Full Plan</a>
    </div>
 </div>