@import url('https://fonts.googleapis.com/css?family=Cookie|Alfa+Slab+One|Roboto+Slab|Pacifico|Circular&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jomolhari|Staatliches&display=swap');


body
{
    background: #c2c2c2 !important;
}

.nav-wrapper
{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%) !important;
    padding-left: 10px;
}

.nav-wrapper a.brand-logo
{
    text-decoration: none;
    color:white;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
}

#nav-mobile a
{
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}


.form-style
{
    width: 500px;
    margin: 0 auto;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.form-style button
{
    background: transparent;
    border: none;
    background-color:#00b894 !important;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.form-style input
{
    border: 3px solid #00b894;
    border-radius: 10px;
    outline: none;
}


.photo-header
{
    font-size: 60px;
    font-family: 'Alfa Slab One', cursive;
    background-size: cover;
    background-image: url(images/try1.jpg);
    background-position: center;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent; 
    margin-top: 10px;
    text-align: center;
}

.box
{
    padding: 10px;
}


.photo_back
{
    background-image: linear-gradient(to bottom right,rgba(252, 249, 249, 0.726),rgba(40, 250, 152, 0.514)),url(images/login.jpg);
    background-size: cover;
    background-position: center;
}

.flight_header
{
    font-size: 60px;
    font-family: 'Alfa Slab One', cursive;
    background-size: cover;
    background-image: url(images/try1.jpg);
    background-position: center;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent; 
    margin-top: 10px;
    text-align: center;
}


/* flights Styles */

.flight_box
{
    display: flex;
    height: 150px;
    width:900px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    border-radius: 10px;
}


.small_box
{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center
}

.small_box .logo img
{
    height: 60px;
    width: 60px;
}

.small_box .airline
{
    font-weight: 700;
    margin-left: 20px;
    font-size: 20px;
}


.stop p
{
    text-align: center;
    color: #c2c2c2;
    font-size: 20px;
}

.stop p span
{
    color: black;
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.stop i
{
    margin-right: 40px;
    margin-left: 40px;
}

.price
{
    font-size: 25px;
    font-weight: bold;
}

.submit_btn
{
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    color: black;
    cursor: pointer;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}


.small_box form input[type=text]
{
    display: none;
}



