@import url('https://fonts.googleapis.com/css?family=Cookie|Alfa+Slab+One|Roboto+Slab|Pacifico|Circular&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jomolhari|Staatliches&display=swap');

.nav-wrapper
{
    background: rgb(12,22,17);
background: linear-gradient(to bottom right, rgba(12,22,17,1) 0%, rgba(14,224,144,1) 100%);
    padding-left: 10px;
}

.nav-wrapper a.brand-logo
{
    text-decoration: none;
    color:white;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
}

#nav-mobile a
{
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}


.form-style
{
    width: 500px;
    margin: 0 auto;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.form-style button
{
    background: transparent;
    border: none;
    background-color:#00b894 !important;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.form-style input
{
    border: 3px solid #00b894;
    border-radius: 10px;
    outline: none;
}


.photo-header
{
    font-size: 60px;
    font-family: 'Alfa Slab One', cursive;
    background-size: cover;
    background-image: url(images/try1.jpg);
    background-position: center;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent; 
    margin-top: 10px;
    text-align: center;
}

.box
{
    padding: 10px;
}


.photo_back
{
    background-image: linear-gradient(to bottom right,rgba(252, 249, 249, 0.726),rgba(40, 250, 152, 0.514)),url(images/login.jpg);
    background-size: cover;
    background-position: center;
}

.flight_header
{
    font-size: 60px;
    font-family: 'Alfa Slab One', cursive;
    background-size: cover;
    background-image: url(images/try1.jpg);
    background-position: center;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent; 
    margin-top: 10px;
    text-align: center;
}


/* flights Styles */

.flight_box
{
    height: 300px;
    width: 800px;
    border-radius: 5px;
    margin: 0 auto;
    border: 3px solid rgb(209, 209, 209);
    /* display: flex; */
    align-content: center;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
    
}

.flight_box:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.airline
{
    /* display: flex; */
    text-align: center;
    /* align-content: center;
    align-items: center;
    justify-content: center; */
    margin-bottom: 20px;
}

.airline img.logo
{
    height: 40px;
    width: 40px;
    margin-top: -20px;
}
.airline p.name
{
    font-size: 40px;
    display: inline;
    font-family: 'Jomolhari', serif;
}

.details
{
    display: flex;
}
.source
{
    flex-grow: 1;
    /* background: red; */
    align-items: center;
    text-align: center;
    font-family: 'Staatliches', cursive;
}

.source .source_name,
.destination .destination_name
{
    font-size: 30px;
}

.source .source_time,
.destination .destination_time
{
    font-size: 25px;
    display: block;
    color: grey;
}

.arrow
{
    margin-top: 13px;
}

.destination
{
    flex-grow: 1;
    align-items: center;
    text-align: center;
    /* background: chartreuse; */
    font-family: 'Staatliches', cursive;
}


.flight_class
{
    margin-top: 35px;
    display: flex;
}

.class_info
{
    flex-grow: 1;
    text-align: center;
}

.class_name
{
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}
.class_info .price
{
    font-weight: 700;
}